html, body {
  margin: 0;
  height: 100%;
}

#root {
  background: #f6f5f5;;
  height: 100vh;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.createcenter {
  background-color: #ffffff;
  border-radius: 5px;
  margin: auto;
  width: 50%;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.center {
  background-color: #ffffff;
  border-radius: 5px;
  margin: auto;
  width: 80%;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tableDiv{
  display: block !important;
   overflow-x: auto !important;
}



